<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main_stylesheet.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css">
    <meta charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <a class="navbar-brand" href="#">MEMZ</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <% if (user && user.permission == 'admin') { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } %>
                <% if (user) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <% if (user) { %>
                    <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> <%= user.username %></a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1><p class="text-center">Admin Panel</p></h1>
        <h3><p class="text-center">List of all lessons</p></h3>
        <form action="/admin" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Lesson Name</th>
                        <th scope="col">LID</th>
                        <th scope="col">Lang</th>
                        <th scope="col">Avail</th>
                    </tr>
                </thead>
                <% for(var i=0; i < _lesson.length; i++) { %>
                    <tr>
                        <td><%= _lesson[i].course %> - <%= _lesson[i].name %></td>
                        <td><%= _lesson[i].lesson_id %></td>
                        <td>
                            <div class="f32">
                                <% if (_lesson[i].lang == 'jp') { %>
                                    <span class="flag jp"></span>
                                <% } else { %>
                                    <span class="flag gb"></span>
                                <% } %>
                            </div>
                        </td>
                        <td>
                            <% if (_lesson[i].avail) { %>
                                <input type="checkbox" class="form-control-input" name="avail[]" value=<%= i %> checked>
                            <% } else { %>
                                <input type="checkbox" class="form-control-input" name="avail[]" value=<%= i %> >
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </table>
            <input class="btn btn-primary" type="submit" value="Update">
        </form>
        <br>
        <form action="/admin/newlesson/confirm" enctype="multipart/form-data" method="post">
            <input class="btn btn-primary" type="submit" value="Upload csv">
            <input type="file" name="csv_upload">
        </form>
    </div>
</body>
</html>
