<!DOCTYPE html>
<html ng-app="dashboard" ng-controller="dashboard-control">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MEMZ</title>
	<link rel="icon" href="/favicon.png" />
	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	<link href="css/bootstrap/datepicker3.css" rel="stylesheet">
	<link href="css/bootstrap/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span>Memz</span></a>
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">Home</a></li>
					<% if (user && user.permission == 'admin') { %>
						<li><a href="/admin">Admin</a></li>
					<% } %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><i class="fas fa-sign-out-alt"></i> <%= user.username %></a></li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
		
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-book color-blue"></em>
							<div class="large"><%= lesson_list.length %></div>
							<div class="text-muted">Lesson learnt</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-check-circle color-orange"></em>
							<div class="large"><%= learnt_word_count %></div>
							<div class="text-muted">Total words learnt</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-users color-teal"></em>
							<div class="large">{{ streak }}</div>
							<div class="text-muted">Online streak</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-red panel-widget ">
						<div class="row no-padding"><em class="fa fa-xl fa-search color-red"></em>
							<div class="large">--</div>
							<div class="text-muted">???</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		</div>
		<div class="row">
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						Review Overview
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="{{ isMobile ? 500 : 207 }}" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						Languages
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<% var pvalue, piecolor = ['blue', 'orange', 'teal', 'red']; %>
			<% for (var i=0;i<Math.min(lesson_list.length,4);i++) { %>
					<div class="col-xs-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-body easypiechart-panel">
								<h4><%= lesson_list[i].fullname %></h4>
								<% pvalue = Math.floor(lesson_list[i].learnt_count / lesson_list[i].word_count * 100)%>
								<div class="easypiechart" id="<%= 'easypiechart-' + piecolor[i] %>" data-percent="<%= pvalue %>" ><span class="percent"><%= pvalue %>%</span></div>
							</div>
						</div>
					</div>
			<% } %>
			<!--
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Orders</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Comments</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="65" ><span class="percent">65%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>New Users</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="56" ><span class="percent">56%</span></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Visitors</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="27" ><span class="percent">27%</span></div>
					</div>
				</div>
			</div>
		-->
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-md-6">
				
			</div><!--/.col-->
			
			<div class="col-md-6">
				
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	<script src="/controller/dashboardController.js"></script>

	<script>
		getLearnStat = <%- JSON.stringify(learn_stat) %>;
		var today = new Date(),date;
		last7days = [], last7days_data = [], learnStatMap = {};
		for (var i=0;i<getLearnStat.length;i++) {
			learnStatMap[getLearnStat[i][0]] = getLearnStat[i][1];
		}
		for (var i=6;i>=0;i--) {
			date = new Date(today.getFullYear(), today.getMonth(), today.getDate() - i);
			datestr = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
			last7days.push(datestr);
			if(learnStatMap.hasOwnProperty(datestr)) {
				last7days_data.push(learnStatMap[datestr]);
			}
			else {
				last7days_data.push(0);
			}
		}
		var lineChartData = {
			labels : last7days,
			datasets : [
				{
					label: "Review count",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : last7days_data
				}
			]
		}

		getLessonList = <%- JSON.stringify(lesson_list) %>;
		var lang, foundlang, lang_list = [];
		var piecolor = [
			{
				color:"#30a5ff",
				highlight: "#62b9fb"
			},
			{
				color: "#ffb53e",
				highlight: "#fac878"
			},
			{
				color: "#1ebfae",
				highlight: "#3cdfce"
			},
			{
				color: "#f9243f",
				highlight: "#f6495f"
			}
		]
		var langMap = {'jp': 'Japanese', 'en': 'English'}
		for (var i=0;i<getLessonList.length;i++) {
			lang = langMap[getLessonList[i].lang]
			foundlang = false;
			for (var j=0;j<lang_list.length;j++) {
				if (lang_list[j].label == lang) {
					lang_list[j].value++;
					foundlang = true;
					break;
				}
			}
			if (!foundlang) {
				lang_list.push({label: lang, value: 1, color: piecolor[lang_list.length].color, highlight: piecolor[lang_list.length].highlight});
			}
		}

		window.onload = function () {
			var chart1 = document.getElementById("line-chart").getContext("2d");
			window.myLine = new Chart(chart1).Line(lineChartData, {
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
			var chart4 = document.getElementById("pie-chart").getContext("2d");
				window.myPie = new Chart(chart4).Pie(lang_list, {
				responsive: true,
				segmentShowStroke: false
			});
		};
	</script>	
</body>
</html>